.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  height: 10vh;
}


.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ion-searchbar {
  flex: 1;
  margin-right: 8px;
}

ion-button {
  flex: 0;
}
